In [1]:
from pyspark.sql import SparkSession

# a função 'expr' permite escrever SQL diretamente
# 'col' permite referenciar colunas de forma programática
from pyspark.sql.functions import expr, col, lit

# 'SparkSession' é a entrada principal para trabalhar com DataFrames no PySpark
# 'builder.appName("Jupyter")' define o nome da aplicação Spark
# .getOrCreate'()' cria a sessão se ainda não existir, caso contrário reutiliza a existente
spark = SparkSession.builder.appName("Jupyter").getOrCreate()

# lendo o csv com a adição de uma nova coluna, que usa a coluna 'event_time' e trunca o resultado para mostrar apenas o dia
# a pasta 'data' é um volume, e é visível apenas para o serviço 'spark-iceberg'
events = spark.read.option("header", "true") \
    .csv("/home/iceberg/data/events.csv") \
    .withColumn("event_date", expr("DATE_TRUNC('day', event_time)"))

# events.show()
# events.count() # 404.814 linhas

# 'lit' cria uma coluna literal (com valor 1, no caso)
# aqui é feito um join do dataframe com ele mesmo, praticamente sem condição de junção
# na prática 'lit(1) == lit(1)' gera um produto cartesiano (cross join)
# collect() traz todos os dados do resultado para o driver
# isso aqui gera out of memory!
# events.join(events, lit(1) == lit(1)).collect()

# Nunca fazer collect() do dataset inteiro! (apenas se forem dados agregados) Preferir 'take()' ou 'show()'
# 'show()' apenas exibe os dados formatados em tabelas, não retorna nada
# 'take()' retorna a quantidade de linhas passada como parâmetro na forma de lista de objetos 'Row'
# events.join(events, lit(1) == lit(1)).take(3)
events.join(events, lit(1) == lit(1)).show(3)

# Os 3 métodos (take, show e collect) não são lazy! Eles disparam a execução.

25/08/06 18:29:12 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
25/08/06 18:29:21 WARN Column: Constructing trivially true equals predicate, '1 = 1'. Perhaps you need to use aliases.

+----------+---------+--------+-------------------+---+--------------------+-------------------+-----------+---------+--------+--------------------+---+--------------------+-------------------+
|   user_id|device_id|referrer|               host|url|          event_time|         event_date|    user_id|device_id|referrer|                host|url|          event_time|         event_date|
+----------+---------+--------+-------------------+---+--------------------+-------------------+-----------+---------+--------+--------------------+---+--------------------+-------------------+
|1037710827|532630305|    NULL|www.zachwilson.tech|  /|2021-03-08 17:27:...|2021-03-08 00:00:00| 1037710827|532630305|    NULL| www.zachwilson.tech|  /|2021-03-08 17:27:...|2021-03-08 00:00:00|
|1037710827|532630305|    NULL|www.zachwilson.tech|  /|2021-03-08 17:27:...|2021-03-08 00:00:00|  925588856|532630305|    NULL|    www.eczachly.com|  /|2021-05-10 11:26:...|2021-05-10 00:00:00|
|1037710827|532630305|    NULL|www.zachwilson.tech|  /|2021-03-08 17:27:...|2021-03-08 00:00:00|-1180485268|532630305|    NULL|admin.zachwilson....|  /|2021-02-17 16:19:...|2021-02-17 00:00:00|
+----------+---------+--------+-------------------+---+--------------------+-------------------+-----------+---------+--------+--------------------+---+--------------------+-------------------+
only showing top 3 rows

In [2]:
# Seja lá quantas partições existirem nesse dataframe, eu vou particioná-lo em 10
# A partição é a partir da coluna de data (que foi truncada a partir de outra)
# notar o uso de 'col' ^^

# 'sortWithinPartitions' ordena cada partição localmente
sorted = events.repartition(10, col("event_date")) \
    .sortWithinPartitions(col("event_date"), col("host")) \
    .withColumn("event_time", col("event_time").cast("timestamp")) 

# 'sort' ordena as partições de forma global
sortedTwo = events.repartition(10, col("event_date")) \
    .sort(col("event_date"), col("host")) \
    .withColumn("event_time", col("event_time").cast("timestamp")) 

#sorted.show()
#sortedTwo.show()

# Ler a parte mais indentada primeiro.
# Entender 'Exchange' como shuffle!
# no 'sortWithinPartitions' há apenas 1 shuffle
# no 'sort' há 2
sorted.explain()
sortedTwo.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [user_id#17, device_id#18, referrer#19, host#20, url#21, cast(event_time#22 as timestamp) AS event_time#143, event_date#29]
   +- Sort [event_date#29 ASC NULLS FIRST, host#20 ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(event_date#29, 10), REPARTITION_BY_NUM, [plan_id=76]
         +- Project [user_id#17, device_id#18, referrer#19, host#20, url#21, event_time#22, date_trunc(day, cast(event_time#22 as timestamp), Some(Etc/UTC)) AS event_date#29]
            +- FileScan csv [user_id#17,device_id#18,referrer#19,host#20,url#21,event_time#22] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/iceberg/data/events.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<user_id:string,device_id:string,referrer:string,host:string,url:string,event_time:string>


== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [user_id#17, device_id#18, referrer#19, host#20, url#21, cast(event_time#22 as timestamp) AS event_time#151, event_date#29]
   +- Sort [event_date#29 ASC NULLS FIRST, host#20 ASC NULLS FIRST], true, 0
      +- Exchange rangepartitioning(event_date#29 ASC NULLS FIRST, host#20 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=98]
         +- Exchange hashpartitioning(event_date#29, 10), REPARTITION_BY_NUM, [plan_id=94]
            +- Project [user_id#17, device_id#18, referrer#19, host#20, url#21, event_time#22, date_trunc(day, cast(event_time#22 as timestamp), Some(Etc/UTC)) AS event_date#29]
               +- FileScan csv [user_id#17,device_id#18,referrer#19,host#20,url#21,event_time#22] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/iceberg/data/events.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<user_id:string,device_id:string,referrer:string,host:string,url:string,event_time:string>

In [3]:
# se eu tiro 'repartition' eu elimino um shuffle

# 'sortWithinPartitions' ordena cada partição localmente
sorted = events.sortWithinPartitions(col("event_date"), col("host")) \
    .withColumn("event_time", col("event_time").cast("timestamp")) 

# 'sort' ordena as partições de forma global
sortedTwo = events.sort(col("event_date"), col("host")) \
    .withColumn("event_time", col("event_time").cast("timestamp")) 

# .explain() NÃO dispara execução (é lazy)

# aqui não haverá shuffle, pois a repartição é o que causava shuffle
sorted.explain()

# aqui ainda ocorre shuffle, pois o método usado já gera shuffle
# para datasets grandes essa ordenação é bem problemática, pois TODOS os dados passam por apenas um executor (única forma de garantir ordenação global)
sortedTwo.explain()

== Physical Plan ==
*(1) Project [user_id#17, device_id#18, referrer#19, host#20, url#21, cast(event_time#22 as timestamp) AS event_time#159, event_date#29]
+- *(1) Sort [event_date#29 ASC NULLS FIRST, host#20 ASC NULLS FIRST], false, 0
   +- *(1) Project [user_id#17, device_id#18, referrer#19, host#20, url#21, event_time#22, date_trunc(day, cast(event_time#22 as timestamp), Some(Etc/UTC)) AS event_date#29]
      +- FileScan csv [user_id#17,device_id#18,referrer#19,host#20,url#21,event_time#22] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/iceberg/data/events.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<user_id:string,device_id:string,referrer:string,host:string,url:string,event_time:string>


== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [user_id#17, device_id#18, referrer#19, host#20, url#21, cast(event_time#22 as timestamp) AS event_time#167, event_date#29]
   +- Sort [event_date#29 ASC NULLS FIRST, host#20 ASC NULLS FIRST], true, 0
      +- Exchange rangepartitioning(event_date#29 ASC NULLS FIRST, host#20 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=133]
         +- Project [user_id#17, device_id#18, referrer#19, host#20, url#21, event_time#22, date_trunc(day, cast(event_time#22 as timestamp), Some(Etc/UTC)) AS event_date#29]
            +- FileScan csv [user_id#17,device_id#18,referrer#19,host#20,url#21,event_time#22] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/iceberg/data/events.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<user_id:string,device_id:string,referrer:string,host:string,url:string,event_time:string>

In [ ]:
# esse 'database' é refletido como uma pasta chamada 'bootcamp' lá no minio

In [13]:
%%sql

CREATE DATABASE IF NOT EXISTS bootcamp

++
||
++
++

In [14]:
%%sql

DROP TABLE IF EXISTS bootcamp.events

++
||
++
++

In [15]:
%%sql

DROP TABLE IF EXISTS bootcamp.events_sorted

++
||
++
++

In [ ]:
# Criando tabelas Iceberg

In [16]:
%%sql

CREATE TABLE IF NOT EXISTS bootcamp.events (
    url STRING,
    referrer STRING,
    browser_family STRING,
    os_family STRING,
    device_family STRING,
    host STRING,
    event_time TIMESTAMP,
    event_date DATE
)
USING iceberg
PARTITIONED BY (years(event_date));

++
||
++
++

In [18]:
%%sql


CREATE TABLE IF NOT EXISTS bootcamp.events_sorted (
    url STRING,
    referrer STRING,
    browser_family STRING,
    os_family STRING,
    device_family STRING,
    host STRING,
    event_time TIMESTAMP,
    event_date DATE
)
USING iceberg
PARTITIONED BY (years(event_date));

++
||
++
++

In [17]:
%%sql


CREATE TABLE IF NOT EXISTS bootcamp.events_unsorted (
    url STRING,
    referrer STRING,
    browser_family STRING,
    os_family STRING,
    device_family STRING,
    host STRING,
    event_time TIMESTAMP,
    event_date DATE
)
USING iceberg
PARTITIONED BY (year(event_date));

++
||
++
++

In [19]:
start_df = events.repartition(4, col("event_date")) \
                 .withColumn("event_time", col("event_time").cast("timestamp"))

# ordenação por partição
first_sort_df = start_df.sortWithinPartitions(col("event_date"), col("host"))
# first_sort_df = start_df.sortWithinPartitions(col("host"), col("event_date"))

# salvando os dados nas tabelas iceberg do bucket do MinIO
# 'bootcamp' é a pasta/database no bucket
first_sort_df.write.mode("overwrite").saveAsTable("bootcamp.events_sorted")
start_df.write.mode("overwrite").saveAsTable("bootcamp.events_unsorted")

In [ ]:
# na ordenação, antes de escrever os dados, é importante ordenar começando da coluna de menor cardinalidade, 
# pois isso vai ajudar na compressão do Parquet
# principalmente na etapa de Run-Length Encoding (RLE) -> uma das etapas de compressão de Parquet's
# mas, de forma geral, testar a ordenação de formas diferentes para ver o quanto está comprimindo ou não

In [20]:
%%sql
select count(distinct event_date), count(distinct host) from bootcamp.events_sorted;

+----------------------------+----------------------+
| count(DISTINCT event_date) | count(DISTINCT host) |
+----------------------------+----------------------+
|                        931 |                  261 |
+----------------------------+----------------------+

In [ ]:
'''
'demo' é uma tabela especial gerada automaticamente pelo catálogo do engine (Apache Spark + Iceberg).
'files' também é uma dessas tabelas especiais, que guarda metadados dos arquivos/partições geradas
'''

In [21]:
%%sql

SELECT * 
FROM demo.bootcamp.events_sorted.files

+---------+----------------------------------------------------------------------------------------------------------+-------------+---------+---------------------------+--------------+--------------------+---------------------------------------------------------------------------+--------------------------------------------------------------------------------+--------------------------------------------------+------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------+----------------+-----------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                                                                file_path | file_format | spec_id |                 partition | record_count | file_size_in_bytes |                                                              column_sizes |                                                                   value_counts |                                null_value_counts | nan_value_counts |                                                                                                                                                                                                                                                           lower_bounds |                                                                                                                                                                                                                                                   upper_bounds | key_metadata | split_offsets | equality_ids | sort_order_id | referenced_data_file | content_offset | content_size_in_bytes |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            readable_metrics |
+---------+----------------------------------------------------------------------------------------------------------+-------------+---------+---------------------------+--------------+--------------------+---------------------------------------------------------------------------+--------------------------------------------------------------------------------+--------------------------------------------------+------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------+----------------+-----------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|       0 | s3://warehouse/bootcamp/events_sorted/data/00000-10-94aba8e8-72f1-4864-97e8-9887c5dfdf65-0-00001.parquet |     PARQUET |       1 | Row(event_date_year=None) |        89391 |             998667 | {1: 111534, 2: 68783, 6: 2692, 7: 390807, 8: 2293, 9: 315050, 10: 103875} |        {1: 89391, 2: 89391, 6: 89391, 7: 89391, 8: 89391, 9: 89391, 10: 89391} |  {1: 0, 2: 46359, 6: 0, 7: 0, 8: 0, 9: 1, 10: 0} |               {} |                     {1: bytearray(b'/'), 2: bytearray(b'52.20.78.240'), 6: bytearray(b'aashish.techcrea'), 7: bytearray(b' \xba\xe7\xb8\xa8\xb8\x05\x00'), 8: bytearray(b'\x00\xa0&\xb4\xa8\xb8\x05\x00'), 9: bytearray(b'-1000095488'), 10: bytearray(b'-100210680')} |    {1: bytearray(b'/zzageqnf.php?Fp'), 2: bytearray(b'zachwilson.tech'), 6: bytearray(b'zachwilson.techd'), 7: bytearray(b'\xe8\xb0\x1b\x8ec\x03\x06\x00'), 8: bytearray(b'\x00\xe0dqO\x03\x06\x00'), 9: bytearray(b'999884938'), 10: bytearray(b'999535123')} |         None |           [4] |         None |             0 |                 None |           None |                  None |                  Row(device_id=Row(column_size=103875, value_count=89391, null_value_count=0, nan_value_count=None, lower_bound='-100210680', upper_bound='999535123'), event_date=Row(column_size=2293, value_count=89391, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 1, 12, 0, 0), upper_bound=datetime.datetime(2023, 8, 20, 0, 0)), event_time=Row(column_size=390807, value_count=89391, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 1, 12, 0, 1, 19, 764000), upper_bound=datetime.datetime(2023, 8, 20, 23, 59, 41, 89000)), host=Row(column_size=2692, value_count=89391, null_value_count=0, nan_value_count=None, lower_bound='aashish.techcrea', upper_bound='zachwilson.techd'), referrer=Row(column_size=68783, value_count=89391, null_value_count=46359, nan_value_count=None, lower_bound='52.20.78.240', upper_bound='zachwilson.tech'), url=Row(column_size=111534, value_count=89391, null_value_count=0, nan_value_count=None, lower_bound='/', upper_bound='/zzageqnf.php?Fp'), user_id=Row(column_size=315050, value_count=89391, null_value_count=1, nan_value_count=None, lower_bound='-1000095488', upper_bound='999884938')) |
|       0 | s3://warehouse/bootcamp/events_sorted/data/00001-11-94aba8e8-72f1-4864-97e8-9887c5dfdf65-0-00001.parquet |     PARQUET |       1 | Row(event_date_year=None) |        99232 |            1127095 | {1: 145867, 2: 73774, 6: 3312, 7: 435876, 8: 2373, 9: 344946, 10: 117107} |        {1: 99232, 2: 99232, 6: 99232, 7: 99232, 8: 99232, 9: 99232, 10: 99232} | {1: 0, 2: 49299, 6: 0, 7: 0, 8: 0, 9: 58, 10: 0} |               {} |              {1: bytearray(b'"/?""<?=print(93'), 2: bytearray(b'"https://www.goo'), 6: bytearray(b'abhishekanand.te'), 7: bytearray(b'(\x83\xb2EX\xb8\x05\x00'), 8: bytearray(b'\x00 \xc9<X\xb8\x05\x00'), 9: bytearray(b'-1000370060'), 10: bytearray(b'-100210680')} |               {1: bytearray(b'/zz.php'), 2: bytearray(b'zachwilson.tech'), 6: bytearray(b'zsavi524.techcrf'), 7: bytearray(b'\x88\xb8\x07P;\x03\x06\x00'), 8: bytearray(b"\x00 \xb65\'\x03\x06\x00"), 9: bytearray(b'999956796'), 10: bytearray(b'999535123')} |         None |           [4] |         None |             0 |                 None |           None |                  None |         Row(device_id=Row(column_size=117107, value_count=99232, null_value_count=0, nan_value_count=None, lower_bound='-100210680', upper_bound='999535123'), event_date=Row(column_size=2373, value_count=99232, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 1, 8, 0, 0), upper_bound=datetime.datetime(2023, 8, 18, 0, 0)), event_time=Row(column_size=435876, value_count=99232, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 1, 8, 0, 2, 29, 513000), upper_bound=datetime.datetime(2023, 8, 18, 23, 59, 0, 901000)), host=Row(column_size=3312, value_count=99232, null_value_count=0, nan_value_count=None, lower_bound='abhishekanand.te', upper_bound='zsavi524.techcrf'), referrer=Row(column_size=73774, value_count=99232, null_value_count=49299, nan_value_count=None, lower_bound='"https://www.goo', upper_bound='zachwilson.tech'), url=Row(column_size=145867, value_count=99232, null_value_count=0, nan_value_count=None, lower_bound='"/?""<?=print(93', upper_bound='/zz.php'), user_id=Row(column_size=344946, value_count=99232, null_value_count=58, nan_value_count=None, lower_bound='-1000370060', upper_bound='999956796')) |
|       0 | s3://warehouse/bootcamp/events_sorted/data/00002-12-94aba8e8-72f1-4864-97e8-9887c5dfdf65-0-00001.parquet |     PARQUET |       1 | Row(event_date_year=None) |        93956 |            1322343 | {1: 351348, 2: 94536, 6: 3129, 7: 408592, 8: 2037, 9: 343519, 10: 115411} |        {1: 93956, 2: 93956, 6: 93956, 7: 93956, 8: 93956, 9: 93956, 10: 93956} |  {1: 0, 2: 48227, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0} |               {} | {1: bytearray(b'"/?""<?=print(93'), 2: bytearray(b'"https://www.goo'), 6: bytearray(b'ablumhardt.techc'), 7: bytearray(b'\x18\xe8_\xb2\xf3\xb7\x05\x00'), 8: bytearray(b'\x00@\x94\xa7\xf3\xb7\x05\x00'), 9: bytearray(b'-1000675882'), 10: bytearray(b'-1000866068')} |    {1: bytearray(b'/zz/address.php@'), 2: bytearray(b'zachwilson.tech'), 6: bytearray(b'zzz.techcreator/'), 7: bytearray(b'HE\xdbM\xb3\x03\x06\x00'), 8: bytearray(b'\x00`\xc2\xe8\x9f\x03\x06\x00'), 9: bytearray(b'999956796'), 10: bytearray(b'998961543')} |         None |           [4] |         None |             0 |                 None |           None |                  None | Row(device_id=Row(column_size=115411, value_count=93956, null_value_count=0, nan_value_count=None, lower_bound='-1000866068', upper_bound='998961543'), event_date=Row(column_size=2037, value_count=93956, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 1, 3, 0, 0), upper_bound=datetime.datetime(2023, 8, 24, 0, 0)), event_time=Row(column_size=408592, value_count=93956, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 1, 3, 0, 3, 1, 119000), upper_bound=datetime.datetime(2023, 8, 24, 23, 8, 20, 509000)), host=Row(column_size=3129, value_count=93956, null_value_count=0, nan_value_count=None, lower_bound='ablumhardt.techc', upper_bound='zzz.techcreator/'), referrer=Row(column_size=94536, value_count=93956, null_value_count=48227, nan_value_count=None, lower_bound='"https://www.goo', upper_bound='zachwilson.tech'), url=Row(column_size=351348, value_count=93956, null_value_count=0, nan_value_count=None, lower_bound='"/?""<?=print(93', upper_bound='/zz/address.php@'), user_id=Row(column_size=343519, value_count=93956, null_value_count=0, nan_value_count=None, lower_bound='-1000675882', upper_bound='999956796')) |
|       0 | s3://warehouse/bootcamp/events_sorted/data/00003-13-94aba8e8-72f1-4864-97e8-9887c5dfdf65-0-00001.parquet |     PARQUET |       1 | Row(event_date_year=None) |       122235 |            1509917 | {1: 290081, 2: 98630, 6: 3575, 7: 512137, 8: 2178, 9: 450943, 10: 148158} | {1: 122235, 2: 122235, 6: 122235, 7: 122235, 8: 122235, 9: 122235, 10: 122235} |  {1: 0, 2: 53009, 6: 0, 7: 0, 8: 0, 9: 8, 10: 0} |               {} |                       {1: bytearray(b'/'), 2: bytearray(b'3.220.57.224'), 6: bytearray(b'accc.techcreator'), 7: bytearray(b'@n.\xbd\xdf\xb7\x05\x00'), 8: bytearray(b'\x00\xe0\xbc\x89\xdf\xb7\x05\x00'), 9: bytearray(b'-1000015881'), 10: bytearray(b'-1001669954')} | {1: bytearray(b'/zz.php'), 2: bytearray(b'zachwilson.tech'), 6: bytearray(b'zachwilson.techd'), 7: bytearray(b'\xd8\xaf\x9a\xe8\x9f\x03\x06\x00'), 8: bytearray(b'\x00\x00\xeb\xca\x8b\x03\x06\x00'), 9: bytearray(b'999882344'), 10: bytearray(b'998766634')} |         None |           [4] |         None |             0 |                 None |           None |                  None |                    Row(device_id=Row(column_size=148158, value_count=122235, null_value_count=0, nan_value_count=None, lower_bound='-1001669954', upper_bound='998766634'), event_date=Row(column_size=2178, value_count=122235, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 1, 2, 0, 0), upper_bound=datetime.datetime(2023, 8, 23, 0, 0)), event_time=Row(column_size=512137, value_count=122235, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 1, 2, 0, 14, 23, 80000), upper_bound=datetime.datetime(2023, 8, 23, 23, 59, 57, 399000)), host=Row(column_size=3575, value_count=122235, null_value_count=0, nan_value_count=None, lower_bound='accc.techcreator', upper_bound='zachwilson.techd'), referrer=Row(column_size=98630, value_count=122235, null_value_count=53009, nan_value_count=None, lower_bound='3.220.57.224', upper_bound='zachwilson.tech'), url=Row(column_size=290081, value_count=122235, null_value_count=0, nan_value_count=None, lower_bound='/', upper_bound='/zz.php'), user_id=Row(column_size=450943, value_count=122235, null_value_count=8, nan_value_count=None, lower_bound='-1000015881', upper_bound='999882344')) |
+---------+----------------------------------------------------------------------------------------------------------+-------------+---------+---------------------------+--------------+--------------------+---------------------------------------------------------------------------+--------------------------------------------------------------------------------+--------------------------------------------------+------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------+----------------+-----------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [22]:
%%sql

SELECT SUM(file_size_in_bytes) as size, COUNT(1) as num_files, 'sorted' 
FROM demo.bootcamp.events_sorted.files

-- union all junta os conjuntos e elimina as duplicações    
UNION ALL
SELECT SUM(file_size_in_bytes) as size, COUNT(1) as num_files, 'unsorted' 
FROM demo.bootcamp.events_unsorted.files

+---------+-----------+----------+
|    size | num_files |   sorted |
+---------+-----------+----------+
| 4958022 |         4 |   sorted |
| 5053371 |         4 | unsorted |
+---------+-----------+----------+

In [24]:
spark.stop()